{% extends "base.html" %} 
{% load static %}

{% block title %}Email Enviado | Redefinição{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/esqueci_senha.css' %}" />
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container-reset">

        <div class="card-reset">
            <h1 class="title-reset">📧 E-mail Enviado!</h1>
            <p class="subtitle-reset">
                Nós enviamos instruções por e-mail para configurar sua nova senha, caso o endereço de e-mail que você forneceu esteja cadastrado em nosso sistema.
            </p>

            <p class="subtitle-reset" style="margin-bottom: 30px;">
                Você deve receber o e-mail em alguns minutos. Se não o encontrar, verifique sua pasta de Spam.
            </p>
            
            <a href="{% url 'login' %}" class="back-link" style="font-weight: 700;">
                Voltar para o Login
            </a>
        </div>
    </div>
</div>
{% endblock %}