{% extends "base.html" %} 
{% load static %}

{% block title %}Nova Senha{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/esqueci_senha.css' %}" />
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container-reset">

        <div class="card-reset">
            {% if validlink %}
                <h1 class="title-reset">🔒 Definir Nova Senha</h1>
                <p class="subtitle-reset">
                    Digite sua nova senha.
                </p>

                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div style="text-align: left; margin-bottom: 25px;">
                            <label class="label-reset" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field.as_widget(attrs={'class': 'input-reset'}) }}
                            
                            {% for error in field.errors %}
                                <p style="color: var(--error-color); font-size: 0.85rem; margin-top: 5px;">{{ error }}</p>
                            {% endfor %}
                            {% if field.help_text %}
                                <p style="color: var(--text-gray); font-size: 0.8rem; margin-top: 5px;">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="button-reset">Alterar Senha</button>
                </form>

            {% else %}
                <h1 class="title-reset" style="color: var(--error-color);">Link Inválido ⚠️</h1>
                <p class="subtitle-reset">
                    O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição.
                </p>
                <a href="{% url 'password_reset' %}" class="back-link" style="font-weight: 700;">
                    Solicitar Nova Redefinição
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}